<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassyCart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div class="cursor"></div>
    <div id="nav">
        <div id="nav-part2">
            <h4><a href="#">Home</a></h4>
            <h4><a href="/shop">Shop</a></h4>
            <h4><a href="/contact">Customer Service</a></h4>
            <h4><a href="/profile">Account</a></h4>
            <h4><a href="/admin">Sell</a></h4>
        </div>
    </div>
    <div id="purple">

    </div>
    <div class="main">
        <div class="page1">

            <h1>Digitally made</h1>
            <h2>Unbranded experiences</h2>
            <video autoplay muted loop src=""></video>
        </div>
        <div class="page2">
            <h1>We are ClassyCart,</h1>
            <div class="page2-container">
                <div class="page2-left">
                    <h2>A VIBRANT MARKETPLACE WHERE IDEAS TURN INTO INCOME</h2>
                </div>
                <div class="page2-right">
                    <p>ClassyCart is a modern marketplace designed for today’s entrepreneurs and savvy shoppers. We
                        connect unique sellers with curious buyers to create memorable eCommerce experiences—no matter
                        where you are in the world.</p>
                </div>
            </div>

        </div>
        <div class="page3">
            <h1>Our Sponsors</h1>
            <div class="page3-part1">
                <img src="https://d33wubrfki0l68.cloudfront.net/aa3d2ff66de5f16336bd94fd68c3c2ce61e29f68/d5064/assets/home/home-casestudy-mgny.webp"
                    alt="">
                <video autoplay loop muted
                    src="https://d33wubrfki0l68.cloudfront.net/a13ea7c2ca2f38134748966280e54af4340ce821/f976d/assets/home/projects_madegood-reduced.mp4"></video>
            </div>
        </div>
        <div class="page4">
            <div class="elem">
                <img src="https://d33wubrfki0l68.cloudfront.net/3401770635e95968e300d88f8b9479ecbc008eeb/be2e5/assets/home/home-experience-1.webp"
                    alt="">
                <div class="text-div">
                    <h1>Items...</h1>
                    <h1>Items...</h1>
                </div>
                <img src="https://d33wubrfki0l68.cloudfront.net/188bb09da2a445d08ac5b4f706711772e50e8a17/e100a/assets/home/home-experience-2.webp"
                    alt="">
            </div>
            <div class="elem">
                <img src="https://d33wubrfki0l68.cloudfront.net/3401770635e95968e300d88f8b9479ecbc008eeb/be2e5/assets/home/home-experience-1.webp"
                    alt="">
                <div class="text-div">
                    <h1>Items...</h1>
                    <h1>Items...</h1>
                </div>
                <img src="https://d33wubrfki0l68.cloudfront.net/188bb09da2a445d08ac5b4f706711772e50e8a17/e100a/assets/home/home-experience-2.webp"
                    alt="">
            </div>
            <div class="elem">
                <img src="https://d33wubrfki0l68.cloudfront.net/3401770635e95968e300d88f8b9479ecbc008eeb/be2e5/assets/home/home-experience-1.webp"
                    alt="">
                <div class="text-div">
                    <h1>Items...</h1>
                    <h1>Items...</h1>
                </div>
                <img src="https://d33wubrfki0l68.cloudfront.net/188bb09da2a445d08ac5b4f706711772e50e8a17/e100a/assets/home/home-experience-2.webp"
                    alt="">
            </div>

        </div>
        <div class="page5">
            <h2>Cart-Ready Cities</h2>
            <div class="box"
                data-image="https://drop.ndtv.com/images/homepage/4efaukaa_hilton-destinations-agra-travel-guide_16_October_2018_11-37-30AM.jpg">
                <h3>Agra</h3>
            </div>
            <div class="box" data-image="https://skysafar.in/wp-content/uploads/2024/07/Mathura.png">
                <h3>Mathura</h3>
            </div>
            <div class="box" data-image="https://www.holidify.com/images/bgImages/ALIGARH.jpg">
                <h3>Aligarh</h3>
            </div>
            <div class="box"
                data-image="https://images.unsplash.com/photo-1587474260584-136574528ed5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <h3>Delhi</h3>
            </div>
            <div class="box" data-image="https://livefreehostels.com/wp-content/uploads/2024/04/1.png">
                <h3>Banaras</h3>
            </div>
        </div>
        <footer>


            <div class="foot">
                <div class="footermain">
                    <div class="gettoknowus com">
                        <h3>Get to know Us</h3>
                        <ul>
                            <li>Careers</li>
                            <li>Blog</li>
                            <li>About ClassyCart</li>
                            <li>Relations</li>
                            <li>ClassyCart Devices</li>
                            <li>ClassyCart Science</li>
                        </ul>
                    </div>
                    <div class="makemoney com">
                        <h3>Make money With Us</h3>
                        <ul>
                            <li>Sell products on ClassyCart</li>
                            <li>Sell on ClassyCart Business</li>
                            <li>Sell apps on ClassyCart</li>
                            <li>Become an Affiliate</li>
                            <li>Advertise Your Products</li>
                            <li>Self-Publish with Us</li>
                            <li>Host an ClassyCart Hub</li>
                            <li>See More Make Money with Us</li>
                        </ul>
                    </div>
                    <div class="payment com">
                        <h3>ClassyCart payment Products</h3>
                        <ul>
                            <li>ClassyCart Business Card</li>
                            <li>Shop with Points</li>
                            <li>Reload Your Balance</li>
                            <li>ClassyCart Currency Converter</li>
                        </ul>
                    </div>
                    <div class="helpu com">
                        <h3>Let Us Help You</h3>
                        <ul>
                            <li>ClassyCart and COVID-19</li>
                            <li>Your Account</li>
                            <li>Your Orders</li>
                            <li>Shipping Rates & Policies</li>
                            <li>Returns & Replacements</li>
                            <li>Manage Your Content and Devices</li>
                            <li>ClassyCart Assistant</li>
                            <li>Help</li>
                        </ul>
                    </div>
                </div>
            </div>



        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>