<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/register.css" />
  </head>

  <body>
    <!-- <div class="wrapper">
      <div class="form-wrapper sign-up"></div>
      <div class="form-wrapper sign-in">
        <form action="/register" method="post">
          <h2>Sign Up</h2>
          <div class="input-group">
            <input type="text" id="fullName" name="fullName" required />
            <label for="">Full Name</label>
          </div>
          <div class="input-group">
            <input type="text" id="username" name="username" required />
            <label for="">Username</label>
          </div>
          <div class="input-group">
            <input type="text" id="email" name="email" required />
            <label for="">Email</label>
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" required />
            <label for="">Password</label>
          </div>
          <button type="submit" class="btn">Register</button>
          <div class="sign-link">
            <p>
              Already an User? <a href="/login" class="signUp-link">Sign In</a>
            </p>
          </div>
        </form>
      </div>
    </div> -->




    <section class="container">
      <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
          <img
            src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
            alt="illustration" class="illustration" />
          <h1 class="opacity">REGISTER</h1>
          <form action="/register" method="post">
            <input type="text" id="fullname" name="fullName" placeholder="Full Name" />
            <input type="text" id="username" name="username" placeholder="USERNAME" />
            <input type="text" id="email" name="email" placeholder="E-mail" />
            <input type="password" id="password" name="password" placeholder="PASSWORD" />
            <button type="submit" class="opacity">SUBMIT</button>
          </form>
          <div class="register-forget opacity">
            <a href="/login">Already an User?</a>
          </div>
        </div>
        <div class="circle circle-two"></div>
      </div>
      <div class="theme-btn-container"></div>
    </section>
    <script src="/javascripts/login.js"></script>

  </body>
</html>
